MQTT_BROKER_HOST=h2dff2fe.ala.asia-southeast1.emqxsl.com
MQTT_BROKER_PORT=8883
MQTT_USE_TLS=true
MQTT_CA_CERT_PATH=
MQTT_CA_CERT_PEM=
MQTT_USERNAME=
MQTT_PASSWORD=

DEVICE_SIM_DEVICE_ID=
DEVICE_SIM_DEVICE_KEY=
DEVICE_SIM_FIRMWARE=sim-1.0.0
DEVICE_SIM_API_URL=https://bookinaja.com/api/v1/public
DEVICE_SIM_HEARTBEAT_SEC=20
DEVICE_SIM_AUTO_PAIR=true
