EXPO_PUBLIC_API_PORT=8080
# EXPO_PUBLIC_API_URL=http://192.168.100.254:8080/api/v1
# EXPO_PUBLIC_API_URL_IOS=http://192.168.100.254:8080/api/v1
# EXPO_PUBLIC_API_URL_ANDROID=http://10.0.2.2:8080/api/v1
# EXPO_PUBLIC_API_URL_WEB=http://api.bookinaja.local:8080/api/v1
