EXPO_PUBLIC_API_URL=https://bookinaja.com/api/v1
EXPO_PUBLIC_API_URL_ANDROID=https://bookinaja.com/api/v1
EXPO_PUBLIC_WEB_URL=https://bookinaja.com
EXPO_PUBLIC_ROOT_DOMAIN=bookinaja.com
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=39127355505-h1dl0k4evqipvo89vjn3rf78qbfpl0ug.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=39127355505-69ph15i21481t87eoktnj2462h6ofp5h.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=39127355505-pp4rj37f5qa4mag36dj597j03o2mkvjm.apps.googleusercontent.com
